@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&family=Tektur:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Walter+Turncoat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  /* background: radial-gradient(circle, white 0%, #f6d7fe 100%); */
  background: radial-gradient(circle, white 0%, #b6cff6 100%);

  width: 100%;
}
.container {
  width: 100%;
}
/* Base styles for larger screens */
.navarea {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: white;
  border: 1px solid #d0bfff;
  width: 100%;
  max-width: 1700px;
  height: 80px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.navcontent {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.leftnavarea {
  gap: 30px;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 20px;
}

.navleftcircle {
  height: 35px;
  width: 35px;
  background-color: #1a1a1a;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbold {
  font-weight: bolder;
}

.centernavarea {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.centernavarea ul {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: bolder;
  color: #3a3a3a;
}

.centernavarea li {
  list-style-type: none;
}

.centernavarea li:hover {
  cursor: pointer;
}

.centernavarea li a {
  text-decoration: none;
  color: black;
}

.rightnavbtn {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbtn {
  height: 50px;
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid black;
  background-color: transparent;
  color: #3a3a3a;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.navbtn:hover {
  background-color: #1a1a1a;
  color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
}

.homearea {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.lefthomearea {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.starimg2 {
  display: flex;
  justify-content: right;
  height: 20px;
}

.homehellotext {
  font-size: 70px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.shake {
  display: inline-block;
  transform-origin: bottom center;
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.name-gradient {
  font-style: italic;
  background: linear-gradient(15deg, #ff7e5f, #7d7bfe, #80ff95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.hometaglinearea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.hometagline {
  height: 50px;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 15px 5px 15px;
  background-color: #e6fdca;
  border: 1px solid black;
  font-family: "Tektur", sans-serif;
  font-weight: 500;
}

.homedescription {
  margin-top: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #3a3a3a;
  height: auto;
  width: 100%;
  max-width: 600px;
  margin-left: 14px;
  text-align: center;
}

.homeletstalkbtnarea {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.homeletstalkbtn {
  font-size: 27px;
  border: 2px solid black;
  height: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  gap: 11px;
  background-color: #000000;
  color: white;
  font-family: "Stylish", serif;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease;
  z-index: 1;
  cursor: pointer;
}

.homeletstalkbtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.homeletstalkbtn:hover::before {
  transform: scaleX(1);
}

.homeletstalkbtn:hover {
  color: #000 !important;
  font-size: 28px;
}

.righthomearea {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.righthomecontent {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tiltedstarlefthome {
  height: 500px;
  display: flex;
  align-items: center;
}

.tiltedstarlefthome img {
  height: 55px;
}

.righthomeimg {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 500px;
  /* background-color: yellow; */
}
.righthomeimg img {
  height: 500px;
  transform: scale(1.1);
}

.homepic {
  border-radius: 20px;
  width: 100%;
  max-height: 550px;
  height: auto;
}

marquee {
  /* background-color: red; */
  transform: rotate(-2deg);
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: black;
  color: white;
  /* color: black; */
  font-size: 12px;
  height: 60px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.marquee-content {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee-content h1,
.marquee-content i {
  display: inline-block;
  margin: 0 20px; /* Spacing between items */
}

.marquee-content i {
  font-size: 25px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.aboutmearea {
  /* background-color: rgb(255, 183, 183); */
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.aboutmehead {
  font-size: 55px;
  margin-top: 20px;
  text-align: center;
  color: #0000a2;
  font-family: "Finger Paint";
  font-weight: 700;
  font-style: normal;
}

.aboutmearea h2 {
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
  color: #000000;
  font-family: "Viga", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.aboutmeareacontent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: pink; */
}

.aboutmearealeftarea {
  width: 100%;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.aboutpic {
  width: 100%;
  max-width: 500px;
  height: 400px;
  border-radius: 50% 50% 0% 0%;
  transform: scale(1.2);
}

.aboutmearearightarea {
  width: 100%;
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.aboutmerightcontent h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.uldetails {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(248, 158, 162);
  box-sizing: border-box;
}

.uldetails ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  box-sizing: border-box;
}

.uldetails li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.uldetails li h1 {
  font-size: 50px;
}

.uldetails li p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 900;
  font-family: "Walter Turncoat", cursive;
  font-weight: 700;
  font-style: normal;
}

/* PROJECTS AREA  */

.projectsarea {
  /* background-color: #0000a2; */
  /* background-color: yellow; */
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.projectsarea h2 {
  text-align: center;
}

.projecthead {
  font-size: 55px;
  text-align: center;
  color: #0000a2;
  font-family: "Finger Paint";
  font-weight: 700;
  font-style: normal;
}

.projectsareacontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
}

.projectboxcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
}

.projectsbox {
  height: 400px;
  width: 320px;
  border: 2px solid black;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 60px;
}

.projectboxmainarea {
  background-color: #be94f5;
  height: 330px;
  width: 320px;
  overflow: hidden;
}

.projectboxhead {
  /* background-color: gray; */
  background-color: #fccc42;
  justify-self: center;
  width: 220px;
  height: 50px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 15px;
}

.projectstagline {
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  color: #000000;
  font-family: "Viga", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.projectboxhead h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 13px;
}

.projectdiscription {
  margin-top: 29px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: center;
  /* background-color: #fff; */
  height: 200px;
  width: 250px;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 500;
}

.btnclickhere {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  /* background-color: yellow; */
  background-color: #f2f2f2;
}

.btnclickhere button {
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 20px;
  border: 1px solid;
  background-color: #ff5734;
}

.btnclickhere button:hover {
  cursor: pointer;
}

.projectbottomarea {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
  box-sizing: border-box;
}

.contentprojectbottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
}

.projectboxdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.bottomelangbox {
  height: auto;
  width: 100%;
  max-width: 230px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #fff;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.smalllangname {
  margin-top: 5px;
  background-color: #e6fdca;
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 5px;
  border-radius: 8px;
}

.smalllangcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.smalllangcontent p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.smalllangcount {
  height: 50px;
}

.smalllangcount p {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.projectbottomsocials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.h2projectheading {
  margin: 20px 0;
  text-align: center;
}

.projectcontactheading {
  font-size: 25px;
  font-family: "Viga", sans-serif;
  font-weight: 400;
}

.projectbottomsocialscontent {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ulprojectbottomsocialscontent {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.ulprojectbottomsocialscontent li i {
  font-size: 35px;
}

.ulprojectbottomsocialscontent li i:hover {
  font-size: 37px;
  cursor: pointer;
}

/* ARTICLE AREA  */
.articlearea {
  height: 970px;
  width: 100%;
}

.articlearea h2 {
  text-align: center;
}

.articlehead {
  font-size: 55px;
  text-align: center;
  color: #0000a2;
  font-family: "Finger Paint";
  font-weight: 700;
  font-style: normal;
}

.articletagline {
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  color: #000000;
  font-family: "Viga", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.arctclemaincontent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.arcticlebox {
  margin-top: 25px;
  height: 150px;
  width: 70%;
  border: 2px solid black;
  display: flex;
}

.arcleleftboxcontent {
  height: 90%;
  width: 40%;
  margin-left: 10px;
  margin-top: 10px;
}

.leftarticledate {
  display: flex;
  align-items: center;
  color: #e94c34;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.leftartcletopic {
  height: 40%;
  font-size: 22px;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
  font-family: "Tomorrow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.arclelrightboxcontent {
  padding-left: 7px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arclelrightboxcontent p {
  font-size: 18px;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 5px;
}

.browsearticlebtn {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
  height: 45px;
  font-size: 19px;
  width: 70%;
  border: 2px solid black;
  background-color: black;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.browsearticlebtn:hover {
  background-color: wheat;
  color: black;
  cursor: pointer;
}

/* REACHOUT MAIL  */

.reachoutemailarea {
  background: radial-gradient(circle, #dcdcdc 0%, #fbf5ff 100%);
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reachoutcontent {
  /* background-color: green; */
  height: 80px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.reachoutcontent p {
  font-family: "Noto Sans", serif;
  font-weight: 600;
  font-size: 27px;
}

.inputbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inputbox input {
  font-family: "Duru Sans", sans-serif;
  font-weight: 500;
  height: 50px;
  width: 350px;
  border-radius: 1px;
  outline: none;
  font-size: 15px;
  margin-right: 20px;
  border: 2px solid black;
  padding-left: 5px;
  background-color: transparent;
}

.inputbox button {
  font-family: sans-serif;
  background-color: black;
  color: white;
  height: 50px;
  width: 120px;
  font-size: 18px;
}

/* FOOTER AREA  */

.fotterarea {
  background-color: black;
  height: 300px;
  color: white;
  overflow: hidden;
}
.fottertoparea {
  /* background-color: green; */
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fottterleftarea {
  /* background-color: green; */
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fottercontentleft {
  /* background-color: blue; */
  align-items: center;
  height: 100px;
  width: 300px;
  font-size: 20px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.phonenumber {
  margin-top: 15px;
  margin-bottom: 3px;
}
.fottercontentleft i {
  font-size: 22px;
}
.fotttercenterarea {
  /* background-color: blue;  */
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.centerfotterhead {
  font-size: 21px;
}
.centerfottercontent {
  margin-top: 10px;
  font-size: 18px;
}
.centerfottercontent li {
  margin-bottom: 2px;
  list-style-type: none;
  letter-spacing: 2px;
  font-weight: 300;
}
.centerfottercontent a {
  text-decoration: none;
  color: white;
}

.fottterrightarea {
  /* background-color: violet; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fotterrightsocialscontent {
  margin-top: 10px;

  display: flex;
  justify-content: center;
  gap: 20px;
}
.fotterrightsocialscontent li {
  list-style-type: none;
}
.fotterrightsocialscontent li i {
  font-size: 35px;
}
.fotterrightsocialscontent li i:hover {
  font-size: 37px;
  cursor: pointer;
}

.fotterbottomarea {
  /* background-color: yellow; */
  height: 40px;
}
.fotterbottomarea p {
  text-align: center;
  font-family: "Viga", sans-serif;
}
.comingsoonmobiletab {
  display: none;
}

/* RESPONSIVE SCRREN FOR MOBILE */
@media (max-width: 768px) {
  .container {
    display: none;
  }

  body {
    background: radial-gradient(circle, #a5f6ae 0%, #ffffff 50%, #a5f6ae 100%);
    height: 100vh;
    width: 100%;
  }
  .comingsoonmobiletab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: #fff; */
  }
  .comingsoonmobilecontent {
    height: 100%;
    width: 100%;
  }
  .uppercomingsoontext {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    /* background-color: red; */
  }
  .comingsoontext {
    flex-direction: column;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    width: 100%;
    font-size: 4.5rem;
    font-family: "Doto", sans-serif;
    font-weight: 800;
    animation: bounce 3s none;
    margin-top: 17px;
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-40px);
    }
    60% {
      transform: translateY(-20px);
    }
  }
  .smallpara {
    padding-left: 2%;
    margin-top: 15px;
    font-size: 18px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    /* background-color: red; */
  }
  .available {
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 47, 234);
    color: white;
    /* color: transparent; */
    width: 210px;
    height: 50px;
    /* border: 5px solid none; */
    border-radius: 15px;
    margin-bottom: 50px;
    font-family: "Stylish", serif;
  }
  .para {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 200px;
    font-size: 60px;
    font-weight: 900;
    /* background-color: #fff; */
    font-family: "Viga", sans-serif;
  }
}

/* NAVBAR RESPONSIVE  */

/* Mobile styles */
/* @media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .navcontent {
    flex-direction: column;
  }

  .leftnavarea,
  .rightnavbtn {
    justify-content: center;
    width: 100%;
  }

  .centernavarea ul {
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }

  .centernavarea {
    order: 2;
    margin: 10px 0;
  }

  .leftnavarea {
    order: 1;
  }

  .rightnavbtn {
    order: 3;
  }
} */

/* Tablet styles */
/* @media (max-width: 768px) {
  .centernavarea ul {
    gap: 20px;
    font-size: 16px;
  }

  .leftnavarea,
  .rightnavbtn {
    width: auto;
    padding: 0 10px;
  }
}  */

/* HOME RESPONSIVE  */

/* Tablet styles */
/* @media (max-width: 768px) {
  .lefthomearea,
  .righthomearea {
    width: 100%;
    padding: 10px;
  }

  .homehellotext {
    font-size: 50px;
  }

  .hometagline,
  .homedescription {
    width: 90%;
    text-align: center;
  }

  .homeletstalkbtn {
    width: 200px;
    font-size: 25px;
  }
} */

/* Mobile styles */
/* @media (max-width: 480px) {
  .homearea {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .lefthomearea,
  .righthomearea {
    width: 100%;
    padding: 10px;
  }

  .homehellotext {
    font-size: 40px;
  }

  .hometagline {
    font-size: 20px;
  }

  .homeletstalkbtn {
    width: 180px;
    font-size: 20px;
  }

  .homepic {
    max-width: 300px;
    max-height: 400px;
  }

  .hometagline,
  .homedescription {
    width: 90%;
  }
}   */

/* ABOUT RESPONSIVE  */

/* Tablet styles */
/* @media (max-width: 768px) {
    .aboutmehead {
        font-size: 45px;
    }

    .aboutmearea h2 {
        font-size: 35px;
    }

    .aboutmerightcontent h2 {
        font-size: 20px;
    }

    .uldetails li h1 {
        font-size: 40px;
    }

    .uldetails li p {
        font-size: 16px;
    }
}  */

/* Mobile styles */
/* @media (max-width: 480px) {
    .aboutmehead {
        font-size: 35px;
    }

    .aboutmearea h2 {
        font-size: 30px;
    }

    .aboutmeareacontent {
        flex-direction: column;
        align-items: center;
    }

    .aboutmearealeftarea,
    .aboutmearearightarea {
        width: 100%;
        padding: 10px;
    }

    .aboutpic {
        max-width: 300px;
    }

    .aboutmerightcontent h2 {
        font-size: 18px;
    }

    .uldetails {
        flex-direction: column;
        align-items: center;
    }

    .uldetails ul {
        flex-direction: column;
    }

    .uldetails li h1 {
        font-size: 30px;
    }

    .uldetails li p {
        font-size: 14px;
    }
}  */

/* PROJECT RESPONSIVE  */

/* Tablet styles */
/* @media (max-width: 768px) {
  .projecthead {
    font-size: 45px;
  }

  .projectstagline {
    font-size: 25px;
  }

  .projectsbox {
    width: 100%;
    max-width: 300px;
    margin: 15px;
  }

  .projectboxhead h3 {
    font-size: 18px;
  }

  .projectdiscription {
    font-size: 15px;
  }

  .btnclickhere button {
    font-size: 18px;
  }

  .projectcontactheading {
    font-size: 22px;
  }

  .ulprojectbottomsocialscontent li i {
    font-size: 30px;
  }

  .ulprojectbottomsocialscontent li i:hover {
    font-size: 32px;
  }
} */

/* Mobile styles */
/* @media (max-width: 480px) {
  .projecthead {
    font-size: 35px;
  }

  .projectstagline {
    font-size: 20px;
  }

  .projectsbox {
    width: 100%;
    max-width: 250px;
    margin: 10px;
  }

  .projectboxhead h3 {
    font-size: 16px;
  }

  .projectdiscription {
    font-size: 14px;
  }

  .btnclickhere button {
    font-size: 16px;
  }

  .projectcontactheading {
    font-size: 20px;
  }

  .ulprojectbottomsocialscontent li i {
    font-size: 25px;
  }

  .ulprojectbottomsocialscontent li i:hover {
    font-size: 27px;
  }
}   */

/* ARTICLE MOBILE RESPONSIVE  */

/* Tablet styles */
/* @media (max-width: 768px) {
    .articlehead {
        font-size: 45px;
    }

    .articletagline {
        font-size: 40px;
    }

    .arcticlebox {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .arcleleftboxcontent, .arclelrightboxcontent {
        width: 100%;
    }

    .leftartcletopic, .leftarticledate, .arclelrightboxcontent p {
        font-size: 18px;
    }

    .browsearticlebtn {
        width: 90%;
    }
}  */

/* Mobile styles */
/* @media (max-width: 480px) {
    .articlehead {
        font-size: 35px;
    }

    .articletagline {
        font-size: 30px;
    }

    .arcticlebox {
        width: 90%;
        height: auto;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .arcleleftboxcontent {
        margin-left: 0;
        text-align: center;
    }

    .leftartcletopic, .leftarticledate, .arclelrightboxcontent p {
        font-size: 16px;
        text-align: center;
    }

    .browsearticlebtn {
        font-size: 17px;
        width: 90%;
    }
}  */

/* REACTOUTMAIL AREA  */

/* Tablet styles */
/* @media (max-width: 768px) {
    .reachoutcontent {
        width: 90%;
    }

    .reachoutcontent p {
        font-size: 22px;
        text-align: center;
        width: 100%;
    }

    .inputbox input {
        width: 300px;
        margin-right: 10px;
    }

    .inputbox button {
        width: 100px;
        font-size: 16px;
    }
}  */

/* Mobile styles */
/* @media (max-width: 480px) {
    .reachoutcontent {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .reachoutcontent p {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .inputbox input {
        width: 250px;
        margin-right: 0;
    }

    .inputbox button {
        width: 100px;
        font-size: 16px;
    }
}  */

/* FOOTER AREA  */

/* Tablet styles */
/* @media (max-width: 768px) {
    .fottterleftarea,
    .fotttercenterarea,
    .fottterrightarea {
        max-width: 33.33%;
        padding: 10px;
    }

    .centerfotterhead {
        font-size: 18px;
    }

    .centerfottercontent {
        font-size: 16px;
    }

    .fottercontentleft {
        font-size: 18px;
    }

    .fotterrightsocialscontent li i {
        font-size: 30px;
    }

    .fotterrightsocialscontent li i:hover {
        font-size: 32px;
    }
} */

/* Mobile styles */
/* @media (max-width: 480px) {
    .fottterleftarea,
    .fotttercenterarea,
    .fottterrightarea {
        max-width: 100%;
        padding: 10px;
    }

    .centerfotterhead {
        font-size: 16px;
    }

    .centerfottercontent {
        font-size: 14px;
    }

    .fottercontentleft {
        font-size: 16px;
    }

    .fotterrightsocialscontent {
        flex-direction: column;
        align-items: center;
    }

    .fotterrightsocialscontent li i {
        font-size: 25px;
    }

    .fotterrightsocialscontent li i:hover {
        font-size: 27px;
    }
}
*/
